.apps-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 5px;
}
.apps-page section {
  margin: 5px;
}
.apps-page .section-title {
  padding-top: 8px;
  font-size: 1rem;
}
.apps-page .section-container {
  transition: transform 600ms ease-in-out;
}


/* Task List App */
.task-list-app .section-img {
  background: no-repeat center/cover
    url(../media/img/volodymyr-hryshchenko-KZocXyI3kRo-unsplash.jpg);
}
.task-app-container {
  background-color: var(--secondary-color);
  margin: 0 10px;
  border-radius: 5px;
  color: #fff;
}
.task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.task-form label {
  font-size: 1.2rem;
  color: var(--dark-color);
}
.task-form input {
  padding: 8px 10px;
  border: none;
  border-radius: 2px;
  color: var(--dark-color);
  margin-left: 10px;
}
.task-form input:first-of-type {
  width: 35%;
}
.task-form input:last-of-type {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.task-list-item {
  padding: 10px 5px;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-color);
}
.task-list-item a {
  color: var(--light-color);
  cursor: pointer;
}
.task-list-item a:hover {
  color: #fff;
}
.clear-tasks {
  text-align: center;
  padding: 1rem;
}
.clear-tasks button {
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  background-color: var(--light-color);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.clear-tasks button:hover {
  background-color: #fff;
}

/* Blackjack App */
.blackjack-app .section-img {
  background: no-repeat center/cover
    url(../media/img/angshu-purkait-IU4UKIfPqEQ-unsplash.jpg);
}
.blackjack-game-container {
  width: 100%;
  background-color: rgb(23, 145, 23);
  padding: 50px 5px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.blackjack-game-container .start {
  margin-bottom: 20px;
  padding: 10px 25px;
  outline: none;
  border: 1px solid blue;
  color: blue;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;

}
.blackjack-game-container .card {
  width: 45px;
}
.btn-container {
  margin-top: 20px;

}
.btn-container button {
  width: 80px;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 2px;
  background-color: white;
}
.btn-container .hit {
  color: rgb(211, 0, 0);
  border: 1px solid rgb(211, 0, 0);
  cursor: pointer;

}
.btn-container .stand {
  color: rgb(133, 0, 177);
  border: 1px solid rgb(133, 0, 177);
  cursor: pointer;

}
.player-hand,
.dealer-hand {
  padding: 10px;
  text-align: center;
  color: #fff;
}
.hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hand h3 {
  margin-bottom: 10px;
}
.hand div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hand div img {
  margin: 0 5px;
}
.gameover {
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-result {
  font-size: 2rem;
  color: rgb(252, 223, 0);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 2px;
}
.gameover button {
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  color: rgb(10, 118, 10);
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgba(30, 30, 30, 0.8);
}
.rules {
  padding: 1rem;
  display: flex;
  margin-bottom: 100px;
}
.rules p:first-of-type {
  color: red;
  font-size: 2rem;
}
.rules p:last-of-type {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 0.8rem;
}

/* News App */
.news-app .section-img {
  background: no-repeat center/cover
    url(../media/img/markus-spiske-2G8mnFvH8xk-unsplash.jpg);
}
.news-app .container {
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
.news-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-form input {
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  width: 100%;
  margin-left: 5px;
}
.news-form .news-submit {
  background-color: var(--accent-color);
  color: #fff;
  width: 30%;
  font-size: 0.9rem;
  cursor: pointer;
}
.news-app .container h3 {
  padding-top: 15px;
  text-align: left;
  font-size: 0.8rem;
  color: var(--dark-color);
  line-height: 1.5;
}
.news-app .search-term {
  color: var(--accent-color);
}
.news-list {
  margin-bottom: 100px;
}
.news-list li {
  background-color: var(--light-color);
  color: #000;
  margin: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px 1px rgb(155, 155, 155);
}
.news-list li img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.news-list li div {
  text-align: center;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.news-list li div h3 {
  text-align: center;
  padding: 10px 5px;
}
.news-list li div h4 {
  text-align: left;
  padding: 10px 5px 20px;
  font-weight: 300;
  line-height: 1.5;
}
.news-list li div h5 {
  font-style: italic;
  font-weight: 500;
  padding-bottom: 10px;
}
.news-list li div h6 {
  padding: 15px;
  text-transform: uppercase;
  color: #2f2f2f;
}
.news-list li a {
  background-color: var(--secondary-color);
  padding: 8px 20px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  box-shadow: 1px 1px 4px 1px rgb(120, 120, 120);
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .apps-page {
    padding: 0 20px;
  }
  .apps-page section {
    margin: 5px 10px;
  }
  .apps-page .section-title {
    font-size: 1.4em;
    padding-top: 15px;
  }
  .task-app-container {
    margin: 0 10%;
    padding: 2rem;
  }
  .blackjack-game-container {
    width: 80%;
    margin: 0 auto;
  }
  .rules {
    padding-left: 3rem;
  }
  .news-form {
    padding: 1rem;
    font-size: 1.4em;
  }
  .news-container h3 {
    padding: 1rem;
  }
  .news-list li {
    margin: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .apps-page {
    padding: 0 15%;
  }
  .blackjack-game-container {
    width: 60%;
    padding: 10%;
  }
  .news-form .news-submit {
    padding: 10px 15px;
  }
  .news-container .container {
    width: 60%;
  }
  .news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }
  .news-list li {
    margin: 1rem;
  }
}
