.default-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0 10px;
  gap: 10px;
}
.section-img {
  height: 80%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.section-title {
  text-align: center;
  height: 20%;
  width: 100%;
  font-weight: 300;
  padding-top: 5px;
  font-size: 0.9rem;
}
.section-container {
  background-color: #fff;
  color: #000;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  transition: transform 1s ease-in-out;
  z-index: 999;
}
.section-container header h2 {
  width: max-content;
  padding: 1rem;
  margin: 0 auto;
}
.close-section-btn {
  font-size: 3rem;
  position: sticky;
  top: 0;
  float: right;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 5px;
  border-bottom-left-radius: 5px;
  z-index: 2;
}

/* About */
section.about .section-img {
  background: no-repeat center/cover
    url(../media/img/gahan-n-rao-XT9vAArzgyg-unsplash.jpg);
}
.section-container.section-about {
  background-color: #c4cccd;
}
.about-me {
  padding: 0 1rem;
  line-height: 1.8;
}
.about-me p {
  padding: 1rem 0;
}
.about-me img {
  width: 100%;
  border-radius: 2px;
}
.personal span {
  font-size: 1.6rem;
  font-style: italic;
}
.personal .img-caption {
  text-align: center;
  padding: 0;
}
.professional {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.professional h4 {
  padding-top: 2rem;
  font-size: 1.4rem;
}
.mission-statement,
.code-of-ethics {
  background-color: rgb(65, 65, 65);
  color: #fff;
  border-radius: 10px;
}
.mission-statement h3,
.code-of-ethics h3 {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid white;
  width: 100%;
}
.mission-statement {
  margin-top: 2rem;
}
.mission-statement p {
  padding: 1rem;
}
.code-of-ethics {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.code-of-ethics ul {
  padding: 1rem;
}
.about-website {
  padding-top: 1rem;
  padding-bottom: 100px;
}
.about-website h3 {
  text-align: center;
  padding: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
}
.about-website p {
  padding: 10px;
}
.about-website div {
  line-height: 1.5;
  padding: 0 10px;
}

/* Contact */
section.contact .section-img {
  background: no-repeat center/cover
    url(../media/img/elizaveta-kushnirenko-zKPBvFUwUMs-unsplash.jpg);
}
.section-contact {
  padding-bottom: 100px;
}
.section-contact header {
  color: white;
}
.section-contact header p {
  padding: 2px 10px;
  text-align: center;
  line-height: 1.5;
}
.section-contact video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-position: center;
  object-fit: cover;
  z-index: -1;
}
.contact-form {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.input-container {
  padding: 8px 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form input {
  padding: 5px;
  margin-left: 10px;
  border: none;
  border-bottom: 1px dashed black;
}
.input-container:last-of-type {
  flex-direction: column;
}
.input-container textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin-top: 10px;
  border: 1px dashed black;
  border-radius: 5px;
}
.contact-form-submit {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  opacity: 0.8;
}
.contact-form-submit:hover {
  opacity: 1;
}

/* Projects */
section.projects .section-img {
  background: no-repeat center/cover
    url(../media/img/markus-winkler-Q2J2qQsoYH8-unsplash.jpg);
}
.section-projects {
  background-color: var(--light-color);
}
.projects-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 100px;
}
.projects-card {
  background-color: rgb(244, 244, 244);
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.card-title h4 {
  padding: 1rem;
  font-weight: 400;
}
.card-info {
  position: relative;
  overflow: hidden;
}
.card-info img {
  width: 100%;
}
.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: rgba(242, 242, 242, 0.9);
  transition: transform 1s ease-in-out;
  padding: 1rem;
  overflow-y: scroll;
  z-index: 1;
}
.card-details p {
  line-height: 1.8;
}
.card-details h5 {
  padding: 1rem 1rem 0;
}
.card-details li {
  padding: 5px 3rem;
  list-style: disc;
  list-style-position: inside;
}
.card-btns {
  padding: 1rem 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-btns button {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 2px;
  margin: 0 5px;
  cursor: pointer;
  line-height: 1.4;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}
.card-btns .details {
  background-color: #688eefa3;
}
.card-btns .site {
  background-color: #688eef6d;
}
.card-btns .code {
  background-color: #688eef33;
}

/* Skills */
section.skills .section-img {
  background: no-repeat center/cover url(../media/img/pexels-pixabay-301703.jpg);
}
.section-skills {
  padding-bottom: 100px;
}
.section-skills section {
  padding: 2rem 1rem;
  border-top: 1px solid var(--dark-color);
}
.section-skills h3 {
  border-bottom: 2px solid var(--secondary-color);
  padding: 5px;
  margin: 0 auto 1rem;
  width: max-content;
  color: var(--secondary-color);
}
.section-skills {
  padding-bottom: 5rem;
}
.skill {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
}
.skill .fa-caret-up {
  display: none;
}
.skill .fa-caret-down {
  cursor: pointer;
}
.skill.active .fa-caret-up {
  display: block;
  cursor: pointer;
}
.skill.active .fa-caret-down {
  display: none;
}
.skill-info {
  border-radius: inherit;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;
}
.skill.active .skill-info {
  height: 100px;
  overflow-y: scroll;
}
.hard-skills h3 {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}
.hard-skills .skill {
  background-color: var(--primary-color);
}
.new-skills h3 {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}
.new-skills .skill {
  background-color: var(--secondary-color);
}

/* Photos */
section.photos .section-img {
  background: no-repeat top/cover
    url(../media/img/27194EBB-9906-4F96-AFD1-2E8A821B5092_1_201_a.jpeg);
}
.section-photos {
  padding-bottom: 100px;
}
.section-photos header p {
  padding: 0 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
}
.photos-container {
  padding: 1rem 5px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 5px;
}
.photos-container img {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Music */
section.music .section-img {
  background: no-repeat center/cover
    url(../media/img/pexels-elviss-railijs-bitÄns-1389429.jpg);
}
.section-music {
  background-color: var(--secondary-color);
  padding-bottom: 100px;
}
.section-music header div {
  padding: 0 1rem 1rem;
  line-height: 1.5;
  font-size: 0.9rem;
}
.section-music header p {
  padding: 10px 0;
}
.section-music header a {
  color: var(--light-color);
}
.music-player {
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}
.music-player h3 {
  padding: 1rem;
  color: var(--dark-color);
  background-color: inherit;
}
.music-player img {
  width: 90%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.music-info {
  padding: 10px;
}
.song-title {
  padding: 5px;
  font-size: 1.2rem;
}
.song-artist {
  color: rgb(86, 86, 86);
  padding-bottom: 10px;
}
.progress-container {
  background-color: white;
  height: 5px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgb(86, 86, 86);
  cursor: pointer;
}
.progress {
  background-color: rgb(0, 136, 255);
  height: 100%;
  width: 0%;
  border-radius: 10px;
  transition: width 0.1s linear;
}
.controls {
  padding: 1.5rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.controls button {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}

/* Github */
.github .section-img {
  background-color: rgb(78, 44, 108);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
}

/* Settings */
section.settings .section-img {
  background: no-repeat center/cover url(../media/img/pexels-pixabay-159275.jpg);
}
.settings-background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.settings-background button {
  padding: 5px 8px;
  margin-left: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.settings-background .on-btn {
  background-color: green;
}
.settings-background .off-btn {
  background-color: red;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .default-page {
    column-gap: 20px;
    padding: 0 20px;
  }
  .section-title {
    font-size: 1.3rem;
    padding-top: 10px;
  }
  .close-section-btn {
    font-size: 3.6rem;
    padding-left: 8px;
  }
  .section-container header {
    padding: 1rem;
  }
  /* About */
  .personal > img {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .personal div {
    padding: 1rem 3rem;
  }
  .professional {
    padding: 1rem 3rem 1.5rem;
  }
  .mission-statement,
  .code-of-ethics {
    margin: 3rem;
  }
  .about-website div {
    padding: 2rem 3rem;
  }
  /* Contact */
  .contact-form {
    margin: 1rem 20%;
    padding: 4rem;
    gap: 2rem;
  }
  .input-container {
    padding: 1rem;
  }
  .contact-form button {
    margin-top: 1rem;
    padding: 10px 20px;
  }
  /* Projects */
  .projects-container {
    padding: 0 10%;
    gap: 3rem;
  }
  .card-details {
    padding: 2rem;
  }
  .card-btns button {
    padding: 10px 20px;
    margin: 0 10px;
  }
  /* Skills */
  .section-skills section {
    padding: 2rem 10%;
  }
  .section-skills .skill {
    margin: 1rem 4rem;
  }
  /* Photos */
  .photos-container img {
    max-height: 90vh;
    object-fit: cover;
  }
  /* Music */
  .music-player {
    margin: 0 20%;
  }
  /* Github */
  .github i {
    font-size: 6rem;
  }
  /* Settings */
  .settings-background {
    gap: 10px;
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .default-page {
    padding: 0 15%;
    column-gap: 5%;
  }
  /* About */
  .personal {
    display: grid;
    grid-template-areas:
      "a b"
      "c c";
  }
  .personal > img {
    width: 100%;
  }
  .personal div:first-of-type {
    padding: 1rem 2rem;
    margin-left: 10px;
    border-radius: 2px;
  }
  .personal div:last-of-type {
    grid-area: c;
    padding: 2rem 20%;
  }
  .professional {
    padding: 1rem 20% 2rem;
  }
  .mission-statement,
  .code-of-ethics {
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 1rem 10%;
    padding: 1rem;
  }
  .code-of-ethics {
    float: right;
  }
  .about-website div {
    padding: 2rem 15%;
  }
  /* Projects */
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .card-btns button {
    padding: 10px 15px;
  }
  /* Photos */
  .photos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .photos .photos-container img {
    height: 100%;
    max-height: 80vh;
  }
}
